@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color: #fffaf7;
  --secondary-color: #ff6d38;
  --accent-color: #7a78ff;
  --heading-color: #333;
  --light-color: #f9f9f9;
  --dark-color: #333;

  --btn-primary-bg: #333;
  --btn-secondary-bg: #e74c3c;
  --btn-accent-bg: #00a652;
  --btn-primary-hover-bg: #8584ff;
  --btn-secondary-hover-bg: #333;

  --font-family-heading: 'Amatic SC', sans-serif;
  --border-radius: 8px;

  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

  --section-margin: 2rem 0;
  --container-width: 90%;
}

* {
    font-family: 'AmaticSC', sans-serif;
    font-size: 1rem;
}

h1 {
    font-family: 'AmaticSC', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

/* h1 {
  font-family: 'Roboto SemiCondensed', sans-serif;
  font-weight: 600;
  font-style: italic;
} */

button {
    cursor: pointer;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 0.5em;
    padding: 0.5em 1em;

    &:hover {
        background-color: #00a652;
    }
    &:big {
        font-weight: bold;
        font-size: 4rem;
    }
}

.container {

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 4fr);
    gap: 0.4rem;
    width: 85vw;
    margin-inline: auto;
    padding: 2rem;

    & > div {

        /* border: 1px solid black; */
        border-radius: 1rem;    

        & > img {
            width: 100%;        
            height: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
        }
        
        /* &:nth-child(3) {
            width: 50%;
            height: 75%;
            border-radius: 2rem;   
        } */

    }
    
}

.item-1 {
    grid-row: 1 / 3; /* ou span2 */
    grid-column: 1 / 2; 
}

/* .item-1 img {
    width: 100%;
    height: 100%;
} */

.item-2 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

/* .item-2 img {
    width: 100%;
    height: 100%;
} */

.item-3 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    border-radius: 2rem;  
}

/* .item-3 img {
    width: 100%;
    height: 100%;
} */

.item-4 {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}

/* .item-4 img {
    width: 100%;
    height: 100%;
} */

.item-5 {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

/* .item-5 img {
    width: 100%;
    height: 100%;
} */

.item-6 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

/* .item-6 img {
    width: 100%;
    height: 100%;
} */

.item-7 {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

/* .item-7 img {
    width: 100%;
    height: 100%;
} */

.item-8 {
    grid-row: 2 / 4;
    grid-column: 4 / 5;
}

/* .item-8 img {
    width: 100%;
    height: 100%;
} */
